@model List<Nauczyciel>

<h2>Nauczyciele</h2>
<p>
    @Html.ActionLink("Nowy Nauczyciel", "NowyNauczyciel", "Nauczyciel", null, new { @class = "btn btn-primary" })
</p>

<table id="nauczyciele" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nauczyciel</th>
            <th>Wychowawca</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var nauczyciel in Model)
    {
        <tr>
            <td>@Html.ActionLink(nauczyciel.Imie,"Edit","Nauczyciel", new{id = nauczyciel.Id})</td>
            <td>@nauczyciel.KlasaId</td>
        </tr>
    }
    </tbody>
</table>