@model Ogloszenie

@{
    ViewBag.Title = "Dodawanie ogloszenia";
}

@using (Html.BeginForm("Dodaj", "Ogloszenie"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Tytul)
        @Html.TextBoxFor(m => m.Tytul)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tresc)
        @Html.TextAreaFor(m => m.Tresc)
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
}