@model Klasa

@{
    ViewBag.Title = "Dodawanie klasy";
}

@using (Html.BeginForm("Dodaj", "Klasa"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Znak)
        @Html.TextBoxFor(m => m.Znak)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RokPoczatkowy)
        @Html.TextBoxFor(m => m.RokPoczatkowy)
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
}